{{define "all"}}
<form class="list-form" data-list-id="{{.List.Id}}" data-edit-mode="{{.EditMode}}" data-item-id="{{.Item.Id}}">
    <label class="block text-font-light text-sm font-bold mb-2">
        Item name
    </label>
    <input
        class="shadow-sm appearance-none border rounded-sm w-full py-2 px-3 text-font-light leading-tight focus:outline-hidden focus:shadow-outline"
        type="text" name="name" placeholder="Name" value="{{if eq .EditMode true}}{{.Item.Name}}{{end}}">
    <label class="block text-font-light text-sm font-bold mb-2">
        URL
    </label>
    <input
        class="shadow-sm appearance-none border rounded-sm w-full py-2 px-3 text-font-light leading-tight focus:outline-hidden focus:shadow-outline"
        type="url" name="url" placeholder="Optional" value="{{if and .EditMode .Item.URL.Valid}}{{.Item.URL.String}}{{end}}">
    <label class="block text-font-light text-sm font-bold mb-2">
        Priority
    </label>
    <input
        class="shadow-sm appearance-none border rounded-sm w-full py-2 px-3 text-font-light leading-tight focus:outline-hidden focus:shadow-outline"
        type="number" name="priority" placeholder="Optional" value="{{if and .EditMode .Item.Priority.Valid}}{{.Item.Priority.Int64}}{{end}}">
    <label class="block text-font-light text-sm font-bold mb-2">
        Notes
    </label>
    <input
        class="shadow-sm appearance-none border rounded-sm w-full py-2 px-3 text-font-light leading-tight focus:outline-hidden focus:shadow-outline"
        type="text" name="notes" placeholder="Optional" value="{{if and .EditMode .Item.Notes.Valid}}{{.Item.Notes.String}}{{end}}">
    <button type="submit"
        class="{{if eq .EditMode false}} opacity-50 cursor-not-allowed {{end}}bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-2 rounded-sm focus:outline-hidden focus:shadow-outline">
        Save
    </button>
    <span class="error-span text-red-500 italic mt-2 hidden"></span>
</form>
{{end}}