{{define "mobile"}}
    {{if (eq (len .Lists) 0)}}
    Welcome to Listaway! Let's start off by <a href="/list/create" class="underline">creating your first list</a>.
    {{else}}
    <table class="table-auto">
        <thead>
            <tr>
                <th class="px-4 py-2">List</th>
                <th class="px-4 py-2">Edit</th>
                <th class="px-4 py-2">Share</th>
            </tr>
        </thead>
        <tbody>
            {{range .Lists}}
                <tr>
                    <td class="border px-4 py-2"><a href="/list/{{.Id}}" class="underline">{{.Name}}</a></td>
                    <td class="border px-4 py-2"><a href="/list/{{.Id}}/edit" class="underline">Edit</a></td>
                    <td class="border px-4 py-2">{{if .ShareURL.Valid}}{{.ShareURL.String}}{{end}}</td>
                </tr>
            {{end}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="border px-4 py-2"><a href="/list/create" class="underline">Create a new list</a></td>
            </tr>
        </tfoot>
    </table>
    {{end}}
{{end}}
{{define "wide"}}
    {{template "mobile" .}}
{{end}}