{{define "mobile"}}
<div class="list-form bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="flex flex-col mb-4">
        <h1 class="list-name-header text-gray-700 font-bold text-2xl">{{.List.Name}}</h1>
        <div>
            {{if (eq (len .Items) 0)}}
            This list is empty. <a href="/list/{{.List.Id}}/item/create" class="underline">Add an item to the list</a>.
            {{else}}
            <table class="table-auto">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Item</th>
                        <th class="px-4 py-2">URL</th>
                        <th class="px-4 py-2">Priority</th>
                        <th class="px-4 py-2">Notes</th>
                        <th class="px-4 py-2">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .Items}}
                        <tr>
                            <td class="border px-4 py-2">{{.Name}}</td>
                            <td class="border px-4 py-2">{{if .URL.Valid}}{{.URL.String}}{{end}}</td>
                            <td class="border px-4 py-2">{{if .Priority.Valid}}{{.Priority.String}}{{end}}</td>
                            <td class="border px-4 py-2">{{if .Notes.Valid}}{{.Notes.String}}{{end}}</td>
                            <td class="border px-4 py-2"><a href="/list/{{.List.Id}}/item/{{.Id}}/edit" class="underline">Edit</a></td>
                        </tr>
                    {{end}}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="border px-4 py-2"><a href="/list/{{.List.Id}}/item/create" class="underline">Add a new item to the list</a></td>
                    </tr>
                </tfoot>
            </table>
            {{end}}
        </div>
    </div>
</div>
{{end}}
{{define "wide"}}
    {{template "mobile" .}}
{{end}}