{{define "all"}}
<!-- Responsive container with flex layout that changes direction on different screen sizes -->
<div class="flex flex-col md:flex-row self-center items-center justify-center my-auto w-full">

    <!-- Intro Section (Full width on mobile, 2/3 on larger screens) -->
    <div class="w-full md:w-2/3 md:mr-8 text-center md:text-left mb-8 md:mb-0">
        <h1 class="text-3xl md:text-5xl font-bold mb-4">Listaway</h1>
        <p class=" md:text-xl md:">Reset your password to regain access to your account.</p>
    </div>

    <!-- Form Section (Full width on mobile, 1/3 on larger screens) -->
    <div class="w-full md:w-1/3">
        {{if .TokenValid}}
        <form class="reset-form bg-white shadow-lg rounded-sm px-8 pt-6 pb-8 mb-4">
            <h2 class="text-2xl font-bold mb-6 text-center">Set New Password</h2>
            <div class="mb-4">
                <label class="block  text-sm font-bold mb-2" for="new-password">
                    New Password
                </label>
                <input
                    class="shadow-lg appearance-none border rounded-sm w-full py-2 px-3  leading-tight focus:outline-hidden focus:shadow-outline"
                    id="new-password" type="password" name="password" placeholder="New Password" autocomplete="new-password">
            </div>
            <div class="mb-6">
                <label class="block  text-sm font-bold mb-2" for="confirm-password">
                    Confirm Password
                </label>
                <input
                    class="shadow-lg appearance-none border rounded-sm w-full py-2 px-3  mb-3 leading-tight focus:outline-hidden focus:shadow-outline"
                    id="confirm-password" type="password" name="confirmPassword" placeholder="Confirm Password" autocomplete="new-password">
            </div>
            <div class="flex items-center justify-between">
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-sm focus:outline-hidden focus:shadow-outline">
                    Set Password
                </button>
                <span class="reset-form-error-span text-red-500 italic hidden"></span>
            </div>
        </form>
        {{else}}
        <span class="reset-form-error-span text-red-500 italic">Invalid reset token provided. Please use the form on the <a href="/auth" class="text-font-link underline">login page</a> to submit a new password reset request.</span>
        {{end}}
    </div>
</div>
{{end}}