{{define "extrajs"}}
<script type="text/javascript" src="/static/vendors.js"></script>
{{end}}
{{define "all"}}
<div class="list-form">
    {{if .HasParentCollection}}
    <div class="mb-6">
        <a href="/sharedcollection/{{.CollectionShareCode}}" class="inline-flex items-center text-font-link hover:text-font-link">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>
            Back to Collection
        </a>
    </div>
    {{end}}
    <div class="flex flex-col mb-4">
        <h1 class="list-name-header text-font-light font-bold text-2xl relative">{{.List.Name}}</h1>
        <div>
            {{if (eq (len .Items) 0)}}
            This list is empty. Whomever shared it with you needs to add some items in it first.
            {{else}}
            <div class="item-grid mt-6 md:w-1/2" data-share-code="{{.ShareCode}}"></div>
            {{end}}
        </div>
    </div>
</div>
{{end}}