<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    {{block "extracss" .}}{{end}}
    <link rel="icon" href="/static/ListawayBug.png" />
    <link rel="stylesheet" href="/static/{{.ChunkName}}.css"/>
    <title>Listaway</title>
    <script>
        /* to prevent Firefox FOUC, this must be here
        https://stackoverflow.com/a/64158043 */
        let FF_FOUC_FIX;
    </script>
</head>
<body class="font-sans">
    <div class="bg-background-light text-font-light h-screen">
        {{if .ShowNavbar}}
        <!-- Top navbar - visible on md screens and up -->
        <div class="w-full bg-primary-hover-light fixed top-0 left-0 z-50 hidden md:block">
            <div class="flex justify-between items-center py-2 px-4">
                <a href="/" class="text-white text-lg font-bold">Listaway</a>
                <div class="flex items-center space-x-4">
                    {{if .ShowAdmin}}<a href="/admin/users" class="text-white">User Admin</a>{{end}}
                    {{if .ShowInstanceAdmin}}<a href="/admin/allusers" class="text-white">All Users</a>{{end}}
                    {{if .IsAuthenticated}}
                        <span class="logout text-white cursor-pointer">Logout</span>
                    {{else}}
                        <a href="/auth" class="text-white">Login</a>
                    {{end}}
                </div>
            </div>
        </div>
        
        <!-- Bottom navbar - visible only on small screens -->
        <div class="w-full bg-primary-hover-light fixed bottom-0 left-0 z-50 block md:hidden">
            <div class="flex justify-between items-center py-2 px-4">
                <div class="flex items-center space-x-4">
                    <a href="/" class="text-white text-lg font-bold">Listaway</a>
                </div>
                <div class="flex items-center space-x-4">
                    {{if .ShowAdmin}}<a href="/admin/users" class="text-white">User Admin</a>{{end}}
                    {{if .ShowInstanceAdmin}}<a href="/admin/allusers" class="text-white">All Users</a>{{end}}
                    {{if .IsAuthenticated}}
                        <span class="logout text-white cursor-pointer">Logout</span>
                    {{else}}
                        <a href="/auth" class="text-white">Login</a>
                    {{end}}
                </div>
            </div>
        </div>
        {{end}}
        
        <!-- Content with responsive padding -->
        <div class="container mx-auto px-4 pt-4 md:pt-24 pb-4 z-0">
            {{block "all" .}}{{end}}
        </div>
    </div>
    <script type="text/javascript" src="/static/{{.ChunkName}}.js"></script>
</body>
</html>