{{ define "content" }}
<div class="block md:hidden">
    <!-- Mobile content -->
    <div class="container mx-auto p-4">
        {{block "mobile" .}}{{end}}
    </div>
    {{if .ShowNavbar}}
    <!-- Mobile bottom-navbar -->
    <div class="w-full bg-gray-800 fixed bottom-0 left-0 md:hidden">
        <div class="flex justify-between items-center py-2 px-4">
            <div class="flex items-center space-x-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                </svg>
                <a href="/list/" class="text-white">Home</a>
            </div>
            <div class="flex items-center space-x-4">
                <a href="#" class="text-white">Logout</a>
                <a href="#" class="text-white">Settings</a>
            </div>
        </div>
    </div>
    {{end}}
</div>
<div class="hidden md:block">
    {{if .ShowNavbar}}
    <!-- Desktop top-navbar -->
    <div class="w-full bg-gray-800 fixed top-0 left-0">
        <div class="flex justify-between items-center py-2 px-4">
            <a href="/list/" class="text-white text-lg font-bold">Listaway</a>
            <div class="hidden md:flex items-center space-x-4">
                <a href="#" class="text-white">Settings</a>
                <a href="#" class="text-white">Logout</a>
            </div>
        </div>
    </div>
    {{end}}
    <!-- Desktop content -->
    <div class="container mx-auto p-4 mt-12">
        {{block "wide" .}}{{end}}
    </div>
</div>
{{ end }}